<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ host }} - URL Shortener</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Roboto', sans-serif;">
    <b><h1 style="font-size: 3em;">Uh oh...</h1></b>
    <p style="font-size: 1.5em;">Something must have happened! Here is the note that was left behind:</p>
    <br>
    <b><p style="font-size: 1.8em;">{{ message }}</p></b>
</body>